/**
Clean responsive css
 */
:root {
    --page-bg: #000000;
    --heading-bg: #aad5ff;
    --body-bg-light: #EEEEEE;
    --body-bg-dark: #eed6d6;
    --text-light: #FFFFFF;
    --text-dark: #666666;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-dark);
}

body {
    background-color: var(--page-bg);
    color: var(--text-light);
}


h2 {
    color: var(--text-dark);
    padding: 1rem;
}

#create-note {
    display: flex;
    flex-direction: column;
}

input,
button {
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid var(--body-bg-dark);
    border-radius: 0.25rem;
}

input {
    background: var(--body-bg-light);
    color: var(--text-dark);
}

button {
    background: var(--body-bg-dark);
    color: var(--text-light);
    cursor: pointer;
}